app-dynamic-form {
  display: flex;
  justify-content: center;

  form {
    max-width: 45rem;
    font-size: 18px;
    font-weight: lighter;
    line-height: 36px;
  }

  .form-submit {
    display: flex;
    justify-content: center;

    button {
      height: 100%;
      min-width: 10rem;
      text-transform: uppercase;
      color: white;
      padding: 1rem 2rem;
      background-color: $green;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: $border-radius;
      font-size: 1rem;
      opacity: 0.9;
      margin-bottom: 20rem;

      &:hover {
        opacity: 1;
        box-shadow: 0 0 10px #2683cc;
      }

      &:disabled {
        opacity: 0.9;
        background-color: $border-color;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }

  .separator {
    content: ' ';
    border-top: 1px solid $border-color;
    width: 15rem;
    display: block;
    margin: 0 auto 18.5px auto;
  }
}
