@import '../../../variables.scss';

.selectSchoolSubject {
  margin: 5rem;
}

.ng-select.custom {
  .ng-select-container {
    margin-bottom: 1rem;
    color: black;
    height: 2rem;
    background-color: white;
    border: 1px solid $border-color;
    .ng-value-container {
      color: black;

      .ng-placeholder {
        color: black;
      }
    }
  }
}
