@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
$green: #51c341;
$gray: #333e48;
$border-color: #adadad;
$border-radius: 0.4rem;

@import '~@ng-select/ng-select/themes/default.theme.css';
@import 'app/app.component';
@import 'app/pages/hints/hints.component';
@import 'app/pages/thanks/thanks.component';
@import 'app/pages/survey/survey.component';
@import 'app/components/dynamic-form/dynamic-form.component';
@import 'app/components/dynamic-form-question/dynamic-form-question.component';

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
