@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import '~@ng-select/ng-select/themes/default.theme.css';

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

app-dynamic-form,
app-error404 {
  display: flex;
  justify-content: center;
}
