<div class="container">
  <div class="image1">
    <img src="https://i.imgur.com/R9phL2M.png" alt="img1" height="302" width="340">
  </div>
  <div class="content">
    <div>
      <h1 style="color: #F16461">Para um excelente curso!</h1>
      <p>O objetivo desta avaliação é compreender melhor a realidade do curso de bacharelado em SI, identificar sua opinião sobre às disciplinas, professores e infraestrutura do curso é de fundamental importância para andamento do curso e propor melhorias.</p>

      <p>Responda para cada disciplina que estiver matriculado.</p> 

      <p>Alunos que por ventura desistiram de alguma disciplina no decorrer do semestre também devem preencher o questionário de avaliação. Há um campo aberto para nos contar o motivo da desistência.</p>
    </div>
    <button routerLink="/questionario" routerLinkActive="active">Responder questionário</button>
  </div>
</div>
