<div>
  <div class="required-group">
    <h4><span class="required">*</span> Perguntas obrigatórias</h4>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let group of groups">
      <div>
        <h2 class="form-group" *ngIf="group.name">
          Perguntas relacionadas a {{ group.name | lowercase }}:
        </h2>
        <div *ngFor="let question of group.questions">
          <app-question
            [question]="question"
            (formValues)="receiverQtQuestions($event)"
            [form]="form"
            [lenOfQuestions]="lenOfQuestions"
          >
          </app-question>
        </div>
      </div>
    </div>

    <div class="form-submit">
      <div *ngIf="!loading; else: loader">
        <p *ngIf="!form.valid">
          Você precisa responder todas as perguntas obrigatórias para liberar o
          envio
        </p>

        <button type="submit" [disabled]="!form.valid">Enviar</button>
      </div>
      <ng-template #loader
        ><app-loader [margin]="'0rem'"></app-loader
      ></ng-template>
    </div>

    <footer>
      <div class="progess">
        {{ questionsAnswered }} de {{ lenOfQuestions }} perguntas respondidas
      </div>
    </footer>
  </form>
</div>
