<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let group of groups">
      <div>
        <h3 class="form-group" *ngIf="group.name">{{ group.name }}:</h3>
        <div *ngFor="let question of group.questions">
          <app-question
            [question]="question"
            (formValues)="receiverQtQuestions($event)"
            [form]="form"
            [lenOfQuestions]="lenOfQuestions"
          >
          </app-question>
        </div>
      </div>
    </div>

    <div class="form-submit">
      <div>
        <p *ngIf="!form.valid">
          Você precisa responder todas as perguntas fechadas para liberar o
          envio
        </p>
        <button type="submit" [disabled]="!form.valid">Enviar</button>
      </div>
    </div>

    <footer>
      <div class="progess">
        {{ questionsAnswered }} de {{ lenOfQuestions }} perguntas respondidas
      </div>
    </footer>
  </form>
</div>
